body{
	background-size: cover;
	background-attachment: fixed;
	background-position: fixed;
}

h1{
	height: 80px;
	margin-top: 63px;
	margin-left: 76px;
	width: 594px;
	height: 104px;
	text-align: left;
	font-family:  Rockwell;
	font-size: 50px;
	letter-spacing: 0;
	color: #FFFFFF;
	opacity: 1;
}

img{
	width: 180px;
	height: 80px;
	position: absolute;
	right: 70px;
	top: 70px;

}

.Box{
	left: 38%;
	top: 45%;
	text-align: center;
	font-family: Rockwell;
	letter-spacing: 0;
	background-color: #ffffff;
	opacity: 1;
	width: 320px;
	height: auto;
	font-size: 24px;
	padding: 12px;
	justify-content: center;
	position: absolute;
	}

.button{
	position: absolute;
	top: 375px;
	right: 0;
	left: 635px;
	width: 100px;
	height: 100px;
}